<div *ngIf="mostrarLoading" class="overlay">
    <div class="d-flex justify-content-center">
        <div class="lds-ripple">
            <div></div>
            <div></div>
        </div>
    </div>
</div>
<div class="row mt-5">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Participante</th>
                            <th scope="col">Gênero</th>
                            <th scope="col">Data de nascimento</th>
                            <th scope="col">Idade</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let desconto of descontosSocial" [routerLink]="[desconto.id]"
                            style="cursor: pointer;">
                            <th scope="row">{{desconto.identificadorDoParticipante}}</th>
                            <td>{{desconto.genero}}</td>
                            <td>{{desconto.dataDeNascimentoFormated}}</td>
                            <td>{{desconto.idade}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <div class="col-md-2"></div>
</div>