<nav class="navbar navbar-light justify-content-between" style="background-color: #fff;">
  <a class="navbar-brand">Desconto Social</a>
  <ul class="nav nav-tabs nav-right justify-content-end" id="nav-config">
    <li class="nav-item dropdown">
      <a data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-bars"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" routerLink="/resultados">Resultados</a>
        <a class="dropdown-item" routerLink="/teste">Teste</a>
      </div>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>

