<div id="content" style="padding-top: 150px;">
  <div class="card">
    <div class="card-body">
      <!-- Formulário -->
      <div class="row" [hidden]="etapaCorrente != 'form'">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="identificadorParticipante">Participante</label>
            <input [(ngModel)]="descontoSocial.identificadorDoParticipante" type="text" class="form-control">
          </div>
          <div class="form-group">
            <label for="idade">Idade</label>
            <input [(ngModel)]="descontoSocial.idade" type="number" class="form-control">
          </div>
          <div class="form-group">
            <label for="sexo">Sexo</label>
            <select #mySelect name="sexo" id="sexo" class="form-control" (change)="onSexoChange(mySelect.value)">
              <option value="0">Selecione...</option>
              <option *ngFor="let sexo of sexos" [value]="sexo.value">{{sexo.text}}
              </option>
            </select>
          </div>
          <button type="button" class="btn btn-outline-info float-right style-button"
            (click)="proximaEtapa('inicio')">Próximo</button>
        </div>
        <div class="col-md-3"></div>
      </div>

      <!-- Inicio -->
      <div class="row" [hidden]="etapaCorrente != 'inicio'">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <p class="style-text">
            Olá, inicialmente gostaria de agradecer a você por estar participando dessa pesquisa.
            <br />
            <br />
            Nesta próxima atividade, será perguntado a você sobre pessoas que você considera mais próxima a você e
            também
            a frequência com que interage com elas.
            <br />
            <br />
            Depois, serão feitas algumas perguntas sobre as interações sociais com essas pessoas.
            <br />
            <br />
            Vamos começar?
          </p>
          <button type="button" class="btn btn-outline-info style-button"
            (click)="voltarEtapa('form')">Voltar</button>
          <button type="button" class="btn btn-outline-info float-right style-button"
            (click)="proximaEtapa('posInicio')">Iniciar</button>
        </div>
        <div class="col-md-3"></div>
      </div>


      <!-- PosInicio -->
      <div class="row" [hidden]="etapaCorrente != 'posInicio'">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <p class="style-text">
            Gostaria que você imaginasse uma lista de 100 pessoas mais próximas a você no mundo,
            de forma que a primeira pessoa (1) seria aquela que você considera ser a mais querida e a pessoa na posição
            100
            alguém que pouco conhece.
          </p>
          <button type="button" class="btn btn-outline-info style-button"
            (click)="voltarEtapa('inicio')">Voltar</button>
          <button type="button" class="btn btn-outline-info float-right style-button"
            (click)="proximaEtapa('escolhaDoLugarDeOcupacao', 1)">Próximo</button>
        </div>
        <div class="col-md-3"></div>
      </div>


      <!-- EscolhaDoLugarDeOcupacao -->
      <div class="row" [hidden]="etapaCorrente != 'escolhaDoLugarDeOcupacao'">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          Quem é a pessoa que ocupa o {{posicaoCorrente}}° lugar? Marque dentre as opções abaixo:
          <br />
          <br />
          <div *ngFor="let pessoa of pessoasAleatorias">
            <div class="form-check">
              <input (change)="onPessoaChange(pessoa, $event)" class="form-check-input radioLugarOcupacao" type="radio"
                name="radioLugarOcupacao" id="radio-ocupacao-{{pessoa.value}}" value="pessoa.value" [checked]="false">
              <label class="form-check-label" for="radio-ocupacao-{{pessoa.value}}">
                {{pessoa.text}}
              </label>
            </div>
          </div>
          <div class="form-check">
            <input (change)="onPessoaChange('Outra pessoa', $event)" class="form-check-input radioLugarOcupacao"
              type="radio" name="radioLugarOcupacao" id="radio-ocupacao-8" value="pessoa.value" [checked]="false">
            <label class="form-check-label" for="radio-ocupacao-8">
              Outra pessoa (Digite qual a relação que tem com essa pessoa): <input
                [(ngModel)]="lugarOcupado.outraPessoa" type="text" maxlength="40">
            </label>
          </div>
          <button type="button" id="buttonVoltarDoLugarOcupacao" class="btn btn-outline-info style-button mt-2"
            (click)="voltarEtapa('posInicio')">Voltar</button>
          <button type="button" class="btn btn-outline-info float-right style-button mt-2"
            (click)="proximaEtapa('escolhaDaFrequencia')">Próximo</button>
        </div>
        <div class="col-md-3"></div>
      </div>


      <!-- EscolhaDaFrequencia -->
      <div class="row" [hidden]="etapaCorrente != 'escolhaDaFrequencia'">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          Com que frequência você interage com essa pessoa?
          <br />
          <br />
          <div *ngFor="let frequencia of frequencias">
            <div class="form-check">
              <input (change)="onFrequenciaChange(frequencia)" class="form-check-input radioFrequencia" type="radio"
                name="radioFrequencia" id="radio-frequencia-{{frequencia.value}}" value="frequencia.value"
                [checked]="false">
              <label class="form-check-label" for="radio-frequencia-{{frequencia.value}}">
                {{frequencia.text}}
              </label>
            </div>
          </div>
          <!-- <button type="button" class="btn btn-outline-info style-button mt-2"
              (click)="voltarEtapa('escolhaDoLugarDeOcupacao')">Voltar</button> -->
          <button type="button" class="btn btn-outline-info float-right style-button mt-2"
            (click)="proximaEtapa('escolhaDoLugarDeOcupacao', countPosicoes + 1, true)">Próximo</button>
        </div>
        <div class="col-md-3"></div>
      </div>


      <!-- InicioDoTeste -->
      <div class="row" [hidden]="etapaCorrente != 'inicioDoTeste'">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <p class="style-text">
            Agora, irão aparecer um conjunto de possibilidades hipotéticas (imaginativas) de interações com a pessoa,
            e você precisará realizar uma escolha dentre as opções.
            <br />
            <br />
            As opções serão entre interagir durante uma quantidade de tempo imediatamente ou interagir com essa pessoa
            por 100 minutos depois de um certo período.
            <br />
            <br />
            Clique em cima da opção escolhida, entre a opção A ou B, e uma nova tela se abrirá com uma nova opção.
            <br />
            <br />
            Depois dessa fase, você fará essas escolhas para cada uma das pessoas acima.
          </p>
          <!-- <button type="button" class="btn btn-outline-info style-button mt-2"
              (click)="voltarEtapa('escolhaDoLugarDeOcupacao')">Voltar</button> -->
          <button type="button" class="btn btn-outline-info float-right style-button mt-2"
            (click)="proximaEtapa('testeAB')">Próximo</button>
        </div>
        <div class="col-md-3"></div>
      </div>


      <!-- TesteAB -->
      <div class="row" [hidden]="etapaCorrente != 'testeAB'" *ngIf="condicaoDeInteracao != null && atraso != null">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <div class="row justify-content-center">
            <button type="button" class="btn btn-outline-info button-custom-teste" (click)="escolherOpcao('A')">Você
              prefere
              interagir com <span class="font-weight-bold">{{lugarOcupado.pessoaEscolhida}}</span> por <span
                class="font-weight-bold">{{condicaoDeInteracao.guess}}</span> minutos imediatamente?</button>
          </div>
          <div class="row justify-content-center">
            <p class="style-text-2">ou</p>
          </div>
          <div class="row justify-content-center">
            <button type="button" class="btn btn-outline-info button-custom-teste" (click)="escolherOpcao('B')">100
              minutos daqui a
              <span class="font-weight-bold">{{atraso.text}}?</span></button>
          </div>
          <!-- <button type="button" class="btn btn-outline-info style-button mt-2"
              (click)="voltarEtapa('escolhaDaFrequencia')">Voltar</button>
            <button type="button" class="btn btn-outline-info float-right style-button mt-2"
              (click)="proximaEtapa('')">Próximo</button> -->
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
  </div>

  <!-- FIM -->
  <!-- <div class="row" [hidden]="etapaCorrente != 'fimDasEtapas'">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <h3>FIM</h3>
      </div>
      <div class="col-md-3"></div>
    </div> -->
</div>